/*  screen.css - MoinMoin Default Styles

This file is a modified copy of the "modernized" theme included with MoinMoin
1.9.x.

Copyright (c) 2013 Luis Felipe Lopez Acevedo, aka sirgazil <felipe.lopac@gmail.com>
Copyright (c) 2001, 2002, 2003 by Juergen Hermann
*/

/* content styles */

/* debug 
* {border: 1px dotted blue;}
*/

html {
    background-color: #404040;
    min-width: 1000px;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
}

a:link { text-decoration: none; }
a:link:hover, a:link:active { text-decoration: underline; color: green; }
a:visited { text-decoration: none; color: blue; }
a:visited:hover { text-decoration: none; color: red; }

a.download {
    font-size: 120%; 
    letter-spacing: 0.05em;
    font-weight: bold;
    background: #E7E7E7;
    border: 1px solid #9C9C9C;
    padding: 0.5em;
    text-align: center;
}

input {
    /* does strange effect to button (text size becomes bigger when clicking)
    font-size: 1em;
    font-family: Arial, Lucida Grande, sans-serif;
    */
}

textarea {
    font-size: 1em;
    font-family: monospace;
}

.disabled {
    /* IE ignore disabled attribute, but at least show items in gray */
    color: gray;
}

/* user interface styles */

#header {
    position: relative;
    background-color: #404040;
    background-image: url("../img/header-blue-bg.png");
    background-repeat: repeat-x;
    line-height: 1.1em;
}

#logo {
    float: left;
    margin: 10px 15px;
    padding: 0;
    /* For text only logo */
    font-size: 1.4em;
    line-height: 1em;
    font-weight: bold;
}

*[dir="rtl"] #logo {
    float: right;
}

#logo img {
    vertical-align: middle;
}

#logo a {
    color: white;
    text-decoration: none;
}

/* CUSTOM MENU */
#human-menu {
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 76px;
    list-style: none;
}
#human-menu li {
    position: relative;
    display: block;
    float: left;
}
#human-menu li a {
    display: block;
    color: white;
    padding: 0px 14px;
    text-decoration: none;
    text-align: center;
}

#human-menu li a:hover, #human-menu li a:focus, #human-menu li a:active {
  color: white;
  background-color: transparent;
  background-image: url("../img/human-menu-hover-bg.png");
  background-repeat: repeat-x;
  background-position: top;
}
/* END CUSTOM MENU */


/* CUSTOM LANGUAGE WIDGET */
#lang-widget {
    position: relative;
    background-color: white;
    width: 100%;
    height: 30px;
    margin: auto;
}

#lang-list {
    position: absolute;
    width: 200px;
    top: 0px;
    right: 0px;
    height: 30px;
    background-image: url("../img/moin-www.png");
    background-repeat: no-repeat;
    background-position: 180px 7px;
    border-style: none none solid solid;
    border-color: #E4E4E4;
    border-width: thin;
    border-radius: 0px 0px 0px 5px;
    font-size: 90%;
    overflow: hidden;
}

#lang-list:hover {
    background-color: #F2F2F2;
    height: auto;
}

#lang-list * {
    line-height: 30px;
    padding: 0px 8px;
}

#lang-list a:link, #lang-list a:visited {
    display: block;
    text-decoration: none;
    color: #1e90ff;
}

#lang-list a:hover, #lang-list a:focus, #lang-list a:active {
    background-color: #E4E4E4;
}
/* END CUSTOM LANGUAGE WIDGET */


/* CUSTOM CREDITS SECTION */
#credits_gns {
    background-color: #F2F2F2;
    padding: 20px ;
    font-size: 90%;
    text-align: center;
    color: gray;
}
#gns-footer {
    width: 800px;
    margin: auto;
    padding: 20px;
    font-size: 90%;
    text-align: center;
    color: silver;
}
#gns-footer a {
    color: #729fcf;
}
/* END CUSTOM CREDITS SECTION */


#username {
    /* XXX: Should I really use absolute positioning? */
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 0;
    text-align: right;
    font-size: 0.82em;
    white-space: nowrap;
}

*[dir="rtl"] #username {
    text-align: left;
    margin: 5px 0px;
}

#username a:link, #username a:visited {
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 5px;
}

#username a:hover, #username a:focus, #username a:active {
    color: white;
    background-color: #3B607C;
    text-decoration: none;
}

#username li {
    display: inline;
    padding: 0 0.5em 0 0;
}

#username form {
    display: inline;
}

#username input {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
    background: #E7E7E7; /* inherit doesnt work on IE */
    color: blue;
    font-size: 0.82em;
    cursor: pointer;
}

#username input:hover {
    color: red;
}

#searchform {
    /* XXX: Should I really use absolute positioning? */
    position: absolute;
    top: 45px;
    right: 5px;
    padding: 0;
    font-size: 0.82em;
    white-space: nowrap;
}

*[dir="rtl"] #searchform {
    float: left;
}

#searchform form div {
    display: inline;
}

#searchinput, #titlesearch, #fullsearch {
    background-color: #315773;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 2px 4px;
}

#titlesearch, #fullsearch {
    background-color: #2c516b;
    cursor: pointer;
}

#breadcrumbs {
    clear: both;
    padding: 0px 10px 5px 10px;
    font-size: 0.88em;
    color: gray;
}

#breadcrumbs a:link, #breadcrumbs a:visited {
    color: gray;
    text-decoration: none;
}

#breadcrumbs a:hover, #breadcrumbs a:active, #breadcrumbs a:focus {
    color: silver;
    text-decoration: none;
}

.path-child {
    background-image: url("../img/path-arrow.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
}

*[dir="rtl"] #pagetrail {
    clear: left;
}

#interwiki {
    margin: 5px 12px;
    display: inline;
    font-size: 1em;
}

*[dir="rtl"] #interwiki {
    margin: 5px 0px;
    display: inline;
    font-size: 1em;
}

#interwiki span:after {
    content: ":";
}

#locationline {
    clear: right;
    padding: 0;
}

*[dir="rtl"] #locationline {
    clear: left;
}

#pagelocation {
    display: inline;
    margin: 5px 12px;
    padding: 0;
    font-size: 1.5em;
}

#pagetrail li, #pagelocation li {
    display: inline;
    margin: 0;
}

/* XXX Warning: non-ascii characters! */
#pagetrail li:after {
    content: " » ";
}

*[dir="rtl"] #pagetrail li:after {
    content: " « ";
}

#pagetrail li:last-child:after {
    content: "";
}

#pagelocation li:after {
    content: "/ ";
}

*[dir="rtl"] #pagelocation li:after {
    content: " \\ "; /* TODO: check what looks best with RTL */
}

#pagelocation li:last-child:after {
    content: "";
}

#navibar {
    clear: both;  /* problem: clear: right; aligns nicely right of logo,
                    but lets it float high in the header, disconnected from ground */
    display: block;
    margin: 0;
    padding: 0 10px;
    font-size: 0.82em;
}

#navibar li {
    float: right;
    display: inline;
    margin: 0 2px;
    padding: 2px 5px;
    border-style: solid solid none solid;
    border-width: thin;
    border-radius: 5px 5px 0px 0px;
    white-space: nowrap;
}

*[dir="rtl"] #navibar li {
    float: right;
}

#navibar li.wikilink {
    background-color: #636363;
    border-style: solid solid none solid;
    border-width: thin;
}

#navibar li.userlink {
    background: #E6EAF0; /*url(../img/tab-user.png) repeat-x;*/
}

#navibar a, #navibar a:visited {
    color: black;
    text-decoration: none;    
}

#navibar li.current a {
    font-weight: bold;
}

#navibar li:hover {
    background: #CCCCCC;
}

#navibar li.current, #navibar li.current:hover {
    background: #F2F2F2; /* url(../img/tab-selected.png) repeat-x; */
    border-color: #333;
}

#pageline {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    /* sync these values, line-height is needed for IE */
    height: 4px;
    line-height: 4px;
    background: #F2F2F2;
}

.editbar {
    clear: both;
    display: block;
    margin: 0;
    padding: 4px;
    white-space: nowrap;
    background: #F2F2F2;
    font-size: 0.8em;
    text-align: right;
}

.editbar form, .editbar form div {
    display: inline;
    margin: 0;
}

.editbar li {
    display: inline;
    padding: 0;
    margin: 4px 6px;
}

*[dir="rtl"] .editbar li {
    float: right;
}

#header .editbar {
    border-bottom-style: solid;
    border-color: silver;
    border-width: thin;
}

#footer .editbar {
    border-top-style: solid;
    border-color: silver;
    border-width: thin;
}

.editbar a, .editbar a:visited {
    color: gray;
    text-decoration: none !important;
}

#message {
    clear: both;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #c9c9c9;
    background: #E6EAF0;
    text-align: center;
}

#message p {
    margin: 5px 0;
    padding: 0;
    /* font-weight: bold; */
}

#message div.buttons {
    font-weight: normal;
}

.dialog form {
    margin: 0 15px;
}

.dialog td {
    border: none;
    padding: 5px;
}

.dialog td.label {
    text-align: right;
    font-weight: bold;
    width: 25%;
}

*[dir="rtl"] .dialog td.label {
    text-align: left;
}

.dialog td.content input {
    width: 100%;
}

#page {
    background-color: white;
    margin: 0;
    padding: 2px 20px 20px 20px;

    /* theses are some Firefox 1.5b1 specific extensions, see also the CSS3 draft.
    -moz-column-width: 25em;
    -moz-column-gap: 2em;
    -moz-column-rule: solid black 0.3em;     --   doesn't work yet with 1.5b1!

    TODO: make text/gui editor NOT use #page css, we don't want columns there!
    */
}

/* We use here dumb css1 ids because of IE suckiness */
#editor-textarea, #editor-help {
    font-family: monospace;
    border: 1px solid #8cacbb;  
    color: black;
    background-color: white;
    padding: 3px;
    width: 100%;
    margin-top: 0.5em;
}

#editor-help {
    font-size: small;
    background-color: #EEEEFF;
}

#editor-comment {
    font-size: 100%;
    border: 1px solid #8cacbb;
    color: black;
    background-color: white;
    vertical-align: middle;
    padding: 1px;
    display: inline;
    width: 70%;
}

#preview, #previewbelow {
    border: 1px solid #6C7680;
    padding: 10px 30px 20px 30px;
    background: url(../img/draft.png);
    margin-top: 0.5em;
}

#textcha {
    font-size: 100%;
    margin-top: 0.5em;
    border: 2px solid #FF8888;
    color: black;
    vertical-align: middle;
    padding: 3px 2px;
}

#textcha-answer {
    border: 2px solid #000000;
    padding: 3px 2px;
}

input.button {
    /*
    border: 1px solid #8cacbb;  
    color: black;
    background-color: #CCCCCC;
    vertical-align: middle;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    margin: 2px;
    padding: 1px;
    display: inline;
    */
}

#footer {
    clear: both;
    margin: 0;
    padding: 0;
}

#credits, #version, #timings{
    margin: 5px 10px;
    padding: 0;
    text-align: center;
    font-size: 0.80em;
    color: #6C7680;
}

#credits a {
    color: #B1B1B1;
}

#credits li, #timings li {
    display: inline;
    padding: 0 2px;
    margin: 0 4px;
}

.diff {
    width:99%;
    table-layout: fixed;
}

.diff-header {
    font-weight: bold;
}

.diff-title {
    background-color: #C0C0C0;
}

.diff-added {
    background-color: #E0FFE0;
    vertical-align: top;
    width: 50%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: courier, monospace;
}

.diff-removed {
    background-color: #FFFFE0;
    vertical-align: top;
    width: 50%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: courier, monospace;
}

.diff-added span {
    background-color: #80FF80;
}

.diff-removed span {
    background-color: #FFFF80;
}

td.diff-info {
    vertical-align: top;
}

div.diff-info {
    white-space: nowrap;
}

div.diff-info-rev-comment span.diff-info-value {
    white-space: normal;
}

div.diff-info-header {
    background-color: #E8E8E8;
    width: 100%;
    padding: 0.25em 0.5em;
    margin: -0.25em -0.5em;
    margin-bottom: 0.25em;
    text-align: center;
}

td.diff-same {
    text-align: center;
    border: 0;
}

table.navigation {
    float: right;
    margin: 2px;
}

#openididentifier {
    background: url(../../common/openid.png) no-repeat;
    background-position: 0 50%;
    padding-left: 18px;
}
